/* ==================== 1. Preloader Start ==================== */
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.tavaas-preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.tavaas-preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.tavaas-preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #121d45;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.tavaas-preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/* ==================== 1. Preloader End ==================== */

/* ==================== 2. HomeNav Start ==================== */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner::after{
  content: "";
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(12, 11, 11, 0),rgba(0, 0, 0, 0.212));
  font-weight: bold;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
}
.bannerTitle {


  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 100%;
  z-index: 5;

}
.bannerTitle h1{
  font-size: 4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 100%;
    font-weight: 800;
    text-shadow: 2px 2px black;
}
.bannerTitle button{
  width: 200px;
  background-color:#141e41;
  color: #fff;
  padding: 10px 28px;
  font-size: 25px;
 font-family: 'glory';
 margin-top: 25px;
}

.header-section {
  background: transparent;
  padding: 0;
  
}
.HAMBURGER-ICON_close{
  color: white !important;
  background-color: white;
  font-size: 27px;
}
.home_serch{
    font-size: 27px;
}

.top-bar-container {
  position: absolute;
  width: 100%;
}

.special{
letter-spacing:0.5px !important;
font-family: 'glory';
color: #fff;
font-size: 18px;
font-weight: 600;
z-index: 10;
background-color: transparent;
}
.special_otehr_nav{
letter-spacing:0.5px !important;
font-family: 'glory';
color: black;
font-size: 18px;
font-weight: 600;
z-index: 10;
}
.right-nav{
  color: white;
  font-size: 25px;
  z-index: 10;
}
.right-nav-Other{
  color: black;
  font-size: 25px;
  z-index: 10;
  font-family: 'glory';
}
/* .right-nav-other{
    color: red;
    font-size: 40px !important;
    z-index: 10;

} */
.swiper-container {
  width: 480px;
}


@media screen and (max-width: 640px) {
  .header-section {
    display: none;
  }
  .main-mobile-menu {
    display: none;
  }
    .mobile-nav-mega{
      width: 80%;
      position: absolute;
      top:0;
      left:0;
      border: none;
    }

    .bannerTitle h1{
        font-size: 3rem;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-style: bold;
          margin: 0 auto;
          text-align: center;
          align-items: center;
          width: 100%;
          font-weight: 600;
          text-shadow: 2px 2px black;
    }
        .bannerTitle button {
          width: 160px;
          background-color: #141e41;
          color: #fff;
          padding: 8px 18px;
          font-size: 20px;
          font-family: 'glory';
          margin-top: 25px;
        }
}

/* ==================== 2. HomeNav End ==================== */

/* ==================== 3. Best Category Section Start ==================== */
.best-category-image {
  height: 700px;
}
/* ==================== 3. Best Category Section End ==================== */

/* ==================== 4. Category Slider Start ==================== */
.swiper-button-prev {
  --swiper-navigation-color: white;
  --swiper-navigation-size: 36px;
}
.swiper-button-next {
  --swiper-navigation-color: white;
  --swiper-navigation-size: 36px;
}

@media screen and (max-width: 600px) {
  #category-slider,
  #others-category,
  #new-arrival {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #category-slider,
  #others-category,
  #new-arrival {
    width: 768px;
  }
  .swiper-slide {
    height: 500px !important;
  }
}
@media screen and (max-width: 992px) {
  #category-slider,
  #others-category,
  #new-arrival {
    width: 992px;
  }
}

/* ==================== 4. Category Slider End ==================== */

/* ==================== 5. Sign In Auth Start ==================== */

.firebaseui-title {
  text-align: center !important;
  color: #436e8f !important;
}

/* ==================== 5. Sign In Auth End ==================== */

/* ==================== 6. CategorySlider, OthersCategory, NewArrival Start ==================== */
/* .category-slider-section{
background-color: red;
} */
/* .cetagory_parants{
  height: 100vh !important;
  background-color: red !important;

} */
/* .category-slider-section{
  height: 100vh !important;
    background-color: red !important;
    margin: 0;
    padding: 0%;
} */
.cetagory_mobile{
  height: 100vh;
}
.cetagory_mobile img{
  height: 100%;
}
 .category-slider-section img {
  height:100vh!important;
  width: 100% !important;
  /* margin-top: 290px;  */
  }

.othercatagory1{
  position: absolute;
  bottom: 150px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

}
.othercatagory {
        font-size: 2.5rem;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-style: bold;
          text-align: center;
          align-items: center;
          font-weight: 800;
          text-shadow: 2px 2px black;
          line-height: 60px;
}
.othercatagory1-button{
  background-color: #141e41;
  padding: 10px 30px;
  /* margin-left: 50px;
  margin-top:40px ; */
  font-size: 1.5rem;
  font-family: 'glory';
}
@media screen and (max-width: 660px){
  .cetagory_mobile {
      height: 50vh;
      padding-top:20px;
    }

        .cetagory_mobile1{
          padding-top: 50px !important;
          margin-top: 50px;
          height: 50vh;
          margin-top: 60px !important;
        }
       .cetagory_mobile2{
          height:60vh;
          padding-top: 20px;
          margin-top: 130px;
       }
 
    .othercatagory {
        font-size: 2rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-style: bold;
        text-align: center;
        align-items: center;
        font-weight: 600;
        text-shadow: 1px 1px black;
        line-height: 40px;
      }

   
            .othercatagory1-button {
              background-color: #141e41;
              padding: 10px 30px;
              /* margin-left: 50px;
        margin-top:40px ; */
              font-size: 1.5rem;
              font-family: 'glory';
            }
     .store{
      height: 50vh;
      width: 100%;
      background-color: red;
      /* margin-top:300px ; */
      margin-top: 200px;
      overflow: hidden;
     }
}
.mySwiper1 {
   background: red;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 640px) {
  .category-slider-section img {
    height: 500px !important;
    padding-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  #category-slider,
  #others-category,
  #new-arrival {
    height: 600px !important;
    width: 100% !important;
  }

  .new-arrival-heading-section {
    padding-bottom: 20px !important;
  }



  /* .new-arrival-image {
    padding-top: 210px;
    height: 500px !important;
    width: 200px;
  } */
}
.arrive{
  height: 600px !important;
  padding: 0;
  
}
.arrive img {
  width: 100% !important;
  
}

/* ==================== 6. CategorySlider, OthersCategory, NewArrival End ==================== */

/* ==================== 7. SinglePanjabiProduct Start ==================== */

.msl-wrp {
  width: 256px !important;
}

.msl-option {
  color: black !important;
}

/* ==================== 7. SinglePanjabiProduct End ==================== */

/* ==================== 8. Topbarmenu Start ==================== */

.mega-menu {
  position: absolute !important;
  z-index: 9;
  top: 80px;
  display: none;
  left: 0;
  width: 1900px;
  height: 450px;
  background: white;
  transition: 2s;
  padding: 40px;
}

.shop-btn:hover + .mega-menu {
  display: block;
}

.top-bar-menu {
  overflow: visible !important;

 
}
.top-bar-menu button{
  background-color: transparent;
}
.menu button{
  background-color: transparent;
}
/* .top-bar-menu{
  background-color:red ;
} */
.right-ber-menu2{
  z-index: 10;
 height: 300px;
 width: 100%;
 position: relative;
 margin-top: 40px;
 /* padding-right: 40px; */

}
.right-ber-menu2_other{
  z-index: 10;
    width: 100%;
    position: relative;
    margin-top: 48px;
    padding-right: 0;
   
   
}

.inner-mega-menu {
  width: 24%;
  float: left;
  margin-right: 1%;
}

.inner-mega-menu:last-child {
  margin-right: 0%;
}

.inner-mega-menu p {
  padding: 10px 0;
  transition: all 0.4s ease;
}

/* ==================== 8. Topbarmenu End ==================== */
/* ========================== serch start =============== */

/* =================== modal =================== */
.MODAL-popUP{
  background-color: #74746ed3;
  font-family:'glory';
  z-index: 10000;
  margin:0;
  padding: 0;
  width: 400px;
  height: a !important;

}
.MODAL-popUP-input{
width: 100%;
background-color: red;

}
.MODAL-popUP-input input{
  width: 100%;
  outline: none;
  color: black;
  
}
.MODAL-popUP_footer{
  background-color:rgba(0, 0, 0, 0.813);
}
.MODAL-popUP_footer span{
  color: #C76A2e;
}
.MODAL-popUP p{
  /* background-color: #020923; */
  color: white;
  z-index: 20;
}
.serch_box{
  /* margin-top: -500px; */
  width: 100%;
  background-color: #fff;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10000;
 
}
.serch_box_show{
    margin-top: -1000px;
    width: 100%;
    background-color: #fff;
    /* position: absolute; */
    z-index: 100000;
    display:none !important;
 
}
.serch_div{
  height:200px ;
      display: flex;
        align-items: center;
        justify-content: center;
  
}
.serch_div1{
     display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: red;
}
.serch_div input{
  width:800px;
  padding: 20px 60px;
  border-bottom: 1px solid black;
  outline: none;


}
.serch_div input::placeholder{
  font-family: 'glory';
  font-size: 20px;
}
.search_img{
  height: 200px !important;
  width: 200px !important;
}
.sarchIcon{
  position: absolute;
  right: 0;
  cursor: pointer;

}
.closehIcon{
   position: absolute;
    right:0;
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;

}
@media screen and (max-width: 660px){
.serch_div input {
    width: 300px;
    padding: 10px 30px;
      border-bottom: 1px solid black;
      outline: none;
  }
    .serch_div {
      /* height: 100px; */
      /* background-color: red; */
  
    }
        .serch_div input::placeholder {
          font-family: 'glory';
          font-size: 14px;
        }
        .serch_div {
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
         
    
        }
    
}
/* ========================== serch end =============== */

/* ==================== 9. MobileMenu Start ==================== */
.hideMenuNav {
  display: none;
}

.mobile-menu {
  /* background-color: red !important; */
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  align-items: center;
  margin-top: 50px;
  z-index: 100 !important;
}
.showMenuNav a{
  font-size: 18px;
  font-family: 'glory';
  font-weight: 400;
}
/* .mobile-nav-mega_first_cetagory{
  background-color: red;
  width: 100%;
  margin: 0;
  padding: 0;
} */
.cetagory_title{
  font-family: 'Playfair Display';
  font-weight: 600;
  /* padding: 10px 0; */
}
.cetagory_title1{
  font-family: 'Playfair Display';
  font-weight: 400;
  /* padding: 10px 0; */
}
/* ==================== 9. MobileMenu End ==================== */

/* ==================== 10. Sidebar Start ==================== */

@media screen and (max-width: 640px) {
  .sidebar-section {
    visibility: hidden;
  }
}
/* ========================panjabi===================== */

.panjabisProducts_img-dev{
  position:relative !important;
  height: 400px;
  /* background-color: red; */

}
.panjabisProducts_img-dev img{
   height: 100%;
   width: 100%;

}
/* .panjabisProducts_img-dev::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.341);
  height: 100px;
  width: 100%;
  z-index: 1000;
  color: black;
  display: none;
}
.panjabisProducts_img-dev::after{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  background-color: rgba(0, 0, 0, 0.341);
  height: 100px;
  width: 100%;
  z-index: 1000;
  color: black;
  display: none;
} */
.panjabisProducts_img-dev:hover.panjabisProducts_img-dev::before{
    display: block;
}
.panjabisProducts_img-dev:hover.panjabisProducts_img-dev::after{
    display: block;
}
.panjabi_filter{
  display: none;
}
/* ========================panjabi===================== */
/* ==================== 10. Sidebar End ==================== */

/* ==================== 11. Footer Start ==================== */

@media screen and (max-width: 640px) {
  .company-section {
    display: none;
  }
}

/* ==================== 11. Footer End ==================== */



/* =======================Single Page Start ==================================== */
/* .singlePage{
overflow: hidden;
background-color: #020923;
position: relative;
} */

.single_parants{
     position: relative !important;
     
}
 .singlePage .second-section {
   background-color: white;

 }
.first-section_parantes_div{
  width: 70%;
}
.second-section-div{
  position: sticky !important;
  top:20px;
 

}
@media screen and (max-width: 640px) {
  .first-section_parantes_div {
      width: 90%;
    }
  
    
.single_parants{
  display: block;
}
}
/* =======================Single Page End ==================================== */

.Parants_mobile{
z-index: 10000;
}
/* panjabis Product Starrt */
.panjabisProducts{
  position: relative;
  font-family: "glory";
}
.wish_love{
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  /* z-index: 200; */
 
}
.sale{
    position: absolute;
      top: 20px;
      left: 10px;
      cursor: pointer;
      /* z-index: 200; */
      background-color: white;
      padding: 5px 10px;
      color: black;
      font-weight: 400;

}
/* panjabis Product  End */
/* Card Start */
.card_tr{
  background-color: #E9EBEC;
  border-radius: 2px;
  box-shadow:5px 3px 5px 5px #888888 ;
  font-family: 'glory';
  font-weight: 800;
  font-size: 20px;

}
@media screen and (max-width: 640px){
  .card_tr {
      background-color: #E9EBEC;
      border-radius: 2px;
      box-shadow: 2px 2px 2px 2px #888888;
      font-family: 'glory';
      font-weight: 800;
      font-size: 16px;
  
    }
}
/* Card End */
/*  Check Out  Start */
.checkUot_first{
  padding: 30px;
  font-family: 'glory';
  /* box-shadow: 0.5px 0.5px 0.5px black; */
}
.checkUot_first label, span{
  color: black;
  font-size: 18px;
}
/*  Check Out  End */
/* openg my account */
.opening-myAccount{
  /* background-color: red; */
  width: 300px;
  height: 500px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  cursor: pointer;

}
.opening-myAccount img{
  height: 80%;
}
.opening-myAccount button{
  border-radius: 50px;
  background-color: #e9ebec;
}
/* myAccount Start */
.myAccout_ul{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  /* box-shadow: 5px 5px  5px #888888; */
}
.myAccout_ul li{
font-size: 20px;
margin-top: 30px;
font-family: 'glory';
cursor: pointer;
}
.myAccout_ul li:hover{
  font-weight: 700;
}
.myAccout_info{
  width: 100%;
  margin-right: 40px;
  font-family: 'glory';
  padding: 30px;
}
.account_info{
  width: 60%;
}
/* Contart start */
#contract {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background: url(images/dark-bg.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contract-container {
  width: 1170px;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 70px;


}

.contract-row1 {
  width: 30%;
  height: auto;
}

.contract-row1 img {
  width: 100%;
  height: 90%;
}

.contract-row2 {
  height: auto;
}

p.contract-title {
  font-size: 18px;
  color: #020923;
  font-family: arial;
  font-weight: 600;
  padding-top: 10px;
}

.contract-row2 h3 {
  font-size: 2.5rem;
  font-family: arial;
  font-weight: 600;
}

.contract-span {
  width: 100px;
  border-top: 4px solid #020923;
}

p.contract-discription {
  font-size: 15px;
  padding-top: 20px;
 
}

form {
  width: 100%;
  padding-right: 20px;

}

.name-email {
  display: flex;
  justify-content: space-between;
}

.name-email input {
  color: black;
  width: 48%;
  height: 50px;
  overflow: hidden;
}

.name-email:nth-child(2) {
  margin-top: 20px;
}

::-webkit-input-placeholder {
  padding-left: 15px;
  color: black;
  font-size: 15px;
  font-weight: 200;
}

textarea {
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}

.contract-btn {
  margin-top: 10%;
  margin-bottom: 15%;
  width: 200px;
  height: 50px;
  color: WHITE;
  BACKGROUND-COLOR: #020923;
  BORDER: NONE;
  OVERFLOW: HIDDEN;
}

@media(max-width:940px) {
  .contract-container {
    display: flex;
    flex-flow: wrap;
  }

  .contract-row1 {
    width: 100%;
    padding-right: 40px;
  }

  .contract-row2 {
    width: 100%;
  }
}
/* Contart End */
/* myAccount End */
/* Model Pop Start */

.MODAL-popUP_onLoad {
      /* background-color: #141213c2; */
      font-family: 'glory';
      z-index: 10000;
      position: relative;
  
    }
    .MODAL-popUP_onLoad img{
      position: absolute;
      height: 100%;
      width: 100%;
    }
        .MODAL-popUP_onLoad input,h3{
          z-index: 20;
          color: black;
        }
     .MODAL-popUP_onLoad button {
      background-color: #020923;
      z-index: 20;
    }
  
        .MODAL-popUP_onLoad p {
      background-color: #020923;
      color: white;
      z-index: 20;
    }
/* Model Pop End */
/* Puse Notafication Start */
.puseNotafication{
  margin: 30px;
  width: 350px;
  font-family: 'glory';
  background-color: #f3e3e3;
}
.puseNotafication img{
  height: 100%;
  width: 100%;
  margin-left: 10px;
  border-radius: 50%;
}
/* Puse Notafication End */